<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="getting-started-page"><h2 id="getting-started">Getting Started</h2>
<p>To create your first Bradypodion app, please make sure you have installed <a href="https://npmjs.org/">npm</a>, the <a href="http://nodejs.org">Node.js</a> package manager. Also please install <a href="http://gruntjs.com">grunt</a> and <a href="http://bower.io/">bower</a> globally: <code>npm install -g bower grunt</code></p>
<h3 id="getting-started_using-the-seed-repository">Using the seed repository</h3>
<p>You can <a href="https://github.com/excellenteasy/bradypodion-seed">fork</a> or <a href="https://github.com/excellenteasy/bradypodion-seed/archive/master.zip">download (as zip)</a> bradypodion-seed, a repository that implements our recommended workflow when working with Bradypodion.</p>
<p>Now change into the directory you cloned or downloaded and unzipped the repo to, for example <code>cd ~/Downloads/bradypodion-seed-master</code>. Install both the build process and frontend dependencies using <code>npm install</code> and <code>bower install</code>.</p>
<h3 id="getting-started_starting-the-development-workflow">Starting the development workflow</h3>
<p>The main grunt task to use is <code>grunt serve</code>. Enter this into your terminal and the app should show up in a new browser tab within seconds. All source code that gets compiled by the build process is located inside the <code>app</code> folder. If you change any of the filees inside the <code>scripts</code>, <code>styles</code> or <code>view</code> folder, grunt will automatically recompile and reload all instances of your app (across devices).</p>
<p><img src="images/guides/getting-started/bradypodion-seed-install.gif" alt="bradypodion-seed repository installation"></p>
<p>The seed repository contains a small demo app, so you should fiddle with what is already there, read the API Documentation and see how the Bradypodion modules play together.</p>
</div></div>
